.delete-btn {
  width: 120px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
  margin-bottom: 0.5rem;
}

.delete-btn,
.delete-btn span {
  transition: 200ms;
}

.delete-btn .delete-text {
  transform: translateX(20px);
  color: white;
  font-weight: bold;
}

.delete-btn .delete-icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(95px);
  height: 30px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn svg {
  width: 15px;
  fill: #eee;
}

.delete-btn:hover {
  background: #ff3636;
}

.delete-btn:hover .delete-text {
  color: transparent;
}

.delete-btn:hover .delete-icon {
  width: 120px;
  border-left: none;
  transform: translateX(0);
}

.delete-btn:focus {
  outline: none;
}

.delete-btn:active .delete-icon svg {
  transform: scale(0.8);
}
