.select-container {
  position: fixed;
  width: 30%;
  right: 0;
  transform: translateX(100%);
  transition: transform ease 0.4s;
  z-index: 101;
  top: 0;
  padding: 1rem;
  height: 100%;
  background-color: var(--background);
  border-left: solid 1px var(--border);
  &.active {
    transform: translateX(0);
  }
}

.hide-select-screen-btn {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .select-container {
    width: 50%;
  }
}

/* Mobile (Bildschirme zwischen 480px und 767px) */
@media (max-width: 767px) {
}

/* Sehr kleine Geräte (Bildschirme unter 480px) */
@media (max-width: 480px) {
  .select-container {
    width: 100%;
  }
}
