.overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: white;
  background: var(--primary-color);
}

.overviwe-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.welcome-text {
  display: block;
  float: left;
  width: 100%;
  font-size: var(--font-size-body);
  color: var(--text-color);
  padding: 0 0 1rem 0;
}

.overview-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px var(--text-color);
  padding: 1rem 0.5rem;
  width: clamp(300px, 20vw, 200px); // Dynamische Breite
  gap: 1rem;
  color: var(--text-color);
  font-size: var(--font-size-small);
  text-align: center;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stat-icons {
  scale: 1.8;
  background-color: rgba(0, 136, 254, 0.884);
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
}

.down-icon {
  background-color: rgba(240, 44, 44, 0.884);
}
.up-icon {
  background-color: rgba(0, 128, 0, 0.884);
}

@media (max-width: 1024px) {
  .overviwe-wrapper {
    gap: 1rem;
  }

  .overview-card {
    width: clamp(120px, 30vw, 180px);
    margin-top: 1.5rem;
  }

  .welcome-text {
    font-size: var(--font-size-body);
  }
}

@media (max-width: 768px) {
  .overview-container {
    padding: 4rem 0 0 1rem;
  }

  .overviwe-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .overview-card {
    margin: 1rem 0;
    width: 50%;
  }

  .welcome-text {
    font-size: var(--font-size-small);
  }

  .add-trans-container {
    margin-top: 1rem;
  }
}
